*{
    padding:0;
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container{
    background-image:url('http://2.bp.blogspot.com/-3cztFmFG-iE/VGyQhDi6-BI/AAAAAAAAF4U/IeQVvOKP-qw/s1600/wxp%2B(22).jpg');
    /* background:#9a64edad; */
    display:grid;
    justify-content: center;
    height:100vh;
}
#title{
    /* border:1px solid black; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom:5px solid rgba(0, 0, 0, 0.671);
    border-radius:15px;
    padding:5px;
    background:#fffc5034;
    text-align:center;
    color:rgba(255, 255, 255, 0.94);
    height:7vh;
}

#form{
    /* border:1px solid black; */
    display:grid;
    justify-content: center;
    grid-row-gap:10px;
    height: 17vh;
    padding:5px;
    margin-bottom: 30px;
}
::placeholder{
    color:rgba(255, 255, 255, 0.719);
}
#cityTextBox{
    border:1px solid rgb(161, 161, 161);
    background:transparent;
    width:220px;
    padding:5px;
    border-radius:5px;
    outline:none;
    height:25px;
}

#cityTextBox:focus{
    border-color:rgb(3, 245, 124);
    box-shadow:0px 0px 8px rgb(3, 245, 124) ;
}

#submitCity{
    background:rgb(59, 250, 155);
    color:rgba(0, 0, 0, 0.842);
    font-weight:bold;
    border:none;
    border-radius:5px;
    padding:5px;
    cursor:pointer;
    transition:0.5s;
    outline:none;
    height: 35px;
    width: 80px;
}

#submitCity:hover{
    background:rgb(34, 228, 131);
    color:black;
}


/* styling fetched datas */

#temperature .left{
    font-size:45px;
}
#temperature .left sup{
    font-size:20px;
}

#displayFetchedData{
    display:none;
    grid-row-gap: 20px;
    /* border: 1px solid black; */
}

.section{
    border-left: 10px solid #000000ab;
    border-right: 10px solid #000000ab;
    
    box-shadow: 0px 0px 15px rgb(59, 250, 155);
    line-height: 1.5;
    padding:15px;
    border-radius:5px;
}
#section-tempDescription,#section-currentDetails,#section-wind{
    position:relative;
}
#section-tempDescription{animation:fade .5s ease-in;}
#section-currentDetails{animation:fade 1s ease-in;}
#section-wind{animation:fade 1.5s ease-in;}

@keyframes fade{
    0%{top:100px;}
    100%{top:0px;}

}
#section-title{
    margin-bottom: 10px;
}
.fetched-data{
    display: flex;
    justify-content: space-between;
}
#errorMessage{
    display:none;
    font-weight: bold;
    height: 3vh;
    padding: 10px;
    border-radius: 5px;
    border-left: 10px solid rgba(255, 0, 0, 0.514);
    border-right: 10px solid rgba(255, 0, 0, 0.514);
    
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.72);
    
    animation:upward .5s ease-in;
    animation-fill-mode: forwards;
    position:relative;
    top:10px;
}
@keyframes upward{   /* fade-in effect */
    0%{background: #fb737300;
        color: rgba(255, 0, 0, 0);}
    100%{background: #fb73733b;
        color: rgba(255, 0, 0, 0.747);}
}